<footer xmlns:th="http://www.thymeleaf.org" th:fragment="footer_fragment">
  <div class="md-flex md-justify-between">
    <a th:href="@{/}" class="footer__logo">
      <img th:src="@{/img/company_name.jpg}" alt="企業ロゴ" class="footer__logo-image"/>
    </a>
    <ul class="footer__navi flex">
      <li><a href="#">About</a></li>
      <li><a href="#">サイトマップ</a></li>
      <li><a href="#">プライバシーポリシー</a></li>
    </ul>
  </div>
  <hr />
  <p class="copyright">
    © 2024 <a href="https://www.nbk-okamoto.co.jp/">OKAMOTO Inc.</a> All Rights
    Reserved.
  </p>
</footer>
