@charset "UTF-8";

/* リセット */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

* {
  font-family: Futura, 'Century Gothic', YuGothic, 'Hiragino Kaku Gothic ProN',
    'Yu Gothic', Meiryo;
}

/* 全体で使うコンポーネント系部分 */
body {
  background-color: rgb(34, 34, 34);
  color: white;
}

header {
  height: 72px;
  position: sticky;
  z-index: 10;
  top: 0;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(34, 34, 34);
}

.header-right {
  display: flex;
  gap: 8px;
}

.header-right > div {
  cursor: pointer;
}

.header-right a {
  color: white;
}

footer {
  background-color: rgb(45, 53, 70);
  padding: 32px;
}

/* Materializeの共通設定 */
.input-field .active {
  color: #ffc107 !important;
}

.input-field input:focus {
  border-bottom: 1px solid #ffc107 !important;
  box-shadow: 0 1px 0 0 #ffc107 !important;
}

.input-field input.valid {
  border-bottom: 1px solid #ffc107 !important;
  box-shadow: 0 1px 0 0 #ffc107 !important;
}

.input-field input {
  color: white;
}

.input-field .helper-text {
  color: #ff5252;
}

.btn:focus {
  background-color: #ffc107;
  color: white;
}
