<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="~{common/head :: head_fragment(title = '商品一覧', links = ~{::link})}"
  >
    <link rel="stylesheet" th:href="@{/css/item-list.css}" />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css"
    />
  </head>
  <body>
    <div th:replace="~{common/header :: header_fragment}"></div>

    <div>
      <form th:action="@{/show-item-list}" method="get" id="searchForm">
        <label for="searchWord">
          <i class="material-icons prefix">search</i>
        </label>

        <input
          type="text"
          name="searchWord"
          id="searchWord"
          th:value="${searchWord}"
        />
        <button type="submit">検索</button>
        <select name="sortType" id="sortType" class="browser-default">
          <option value="0" th:selected="${sortType == 0}">名前順</option>
          <option value="1" th:selected="${sortType == 1}">価格の安い順</option>
          <option value="2" th:selected="${sortType == 2}">価格の高い順</option>
        </select>
      </form>
    </div>

    <div>
      <p th:text="${orderError}" style="color: red"></p>
      <p th:text="${pageError}" style="color: red"></p>
      <p th:text="${searchError}" style="color: red"></p>

      <div class="item-section">
        <div th:each="item : ${itemList}" class="item-container">
          <a th:href="@{/show-item-detail?id=} + ${item.id}" class="item-wrap">
            <div>
              <img th:src="@{'img/'} + ${item.imagePath}" alt="" />
            </div>
            <div class="item-info">
              <p class="item-name" th:text="${item.name}"></p>
              <p class="item-price" th:text="並盛+' '+${#numbers.formatInteger(item.priceM, 0, 'COMMA')}+円"></p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="content_detail__pagination cdp" th:actpage="${currentPage}">
      <a
        class="cdp_i"
        th:each="page : ${pages}"
        th:href="@{/show-item-list} + '?searchWord=' + ${searchWord} + '&sortType=' + ${sortType} + '&page=' + ${page}"
        th:text="${page}"
      ></a>
    </div>

    <div th:replace="~{common/footer :: footer_fragment}"></div>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    <script th:src="@{/js/item-list/select.js}"></script>
    <script th:src="@{/js/item-list/autoComp.js}"></script>
    <script th:src="@{/js/pagination.js}"></script>
  </body>
</html>
