<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="common/head :: head_fragment(title = '商品詳細', links = ~{::link})"
  >
    <link rel="stylesheet" th:href="@{/css/item-detail.css}" />
  </head>
  <body>
    <div th:replace="common/header :: header_fragment"></div>
    <h1>商品詳細</h1>
    <img th:src="@{/img/} + ${item.imagePath}">
    <h3 th:text="${item.name}"></h3>
    <p th:text="${item.description}"></p>

    <form action="item-detail.html" th:action="@{/shopping-cart/add}" method="post">
      <h4>サイズ</h4>
      <label>
        <input type="radio" name="size" value="S" checked>
        <span th:text="'小盛り: ' + ${#numbers.formatInteger(item.priceS, 0, 'COMMA')} + '円'"></span>
      </label>
      <label>
        <input type="radio" name="size" value="M">
        <span th:text="'並盛り: ' + ${#numbers.formatInteger(item.priceM, 0, 'COMMA')} + '円'"></span>
      </label>
      <label>
        <input type="radio" name="size" value="L">
        <span th:text="'大盛り: ' + ${#numbers.formatInteger(item.priceS, 0, 'COMMA')} + '円'"></span>
      </label>

      <br>

      <h4>トッピング</h4>
      <span th:each="topping: ${item.toppingList}">
        <label>
          <input type="checkbox" name="toppingList" th:value="${topping.id}">
          <span th:text="${topping.name} + ${#numbers.formatInteger(topping.price, 0, 'COMMA')} + '円'"></span>
        </label>
      </span>

      <br>

      <h4>数量</h4>
      <select name="quantity" class="browser-default">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>

      <br>

      <button type="submit">カートに入れる</button>
    </form>

    <div th:replace="common/footer :: footer_fragment"></div>
  </body>
</html>
